$fuente_principal : "Montserrat", sans-serif;

$verde: #3a9994;
$rosa: #F53756;
$morado: #752F97;
$amarillo: #fdda00;
$negro: #000000;
$blanco: #ffffff;


//Media query
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
